@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
/* Utilities and Reset */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background: #000000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #fff;
    position: relative;
    overflow-x: hidden; 
    font-weight: 400;
}
.u-bold{
    font-weight: 500;
}
.u-yellow{
    color:#ffd600 ;
}
.color{
    width: 1000px;
    height: 1000px;
    background: radial-gradient(closest-side, rgba(255,230,0,0.21),#000);
    position: absolute;
    top: -570px;
    left: 15%;
    z-index: -1;
}
/* keyframes */
@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1); 
    }
}
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1); 
    }
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 62px;
    position: fixed;
    width: 100%;
}
.header .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    animation: fade-down .5s .4s backwards;
}
/* button */
.header .btn{
    background: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    padding: 10px 20px ;
    border-radius: 100px;
    transition: .3s all;
}
.header .btn:hover{
    transform: scale(1.15);
}
.btn--contact{
    animation: fade-down .5s .4s backwards;
}

/* Main intro */
.main{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 80px;
    padding: 0 25px;
}
.intro{
    padding-top: 125px;
    animation: fade-up .5s;
}
.first-heading{
    font-size: 48px;
    font-weight: 600;
    opacity: 0.94;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emoji{
    font-size: 35px;
    margin-top: -8px;
}
.text{
 font-size: 40px;
 opacity: 0.9;
 font-weight: 300;
 margin-top: 11px;
 line-height: 1.1;
}
.text--second{
    display: block;
}